mat-toolbar-row:hover {
    cursor: pointer;
    background-color: rosybrown;
}

mat-toolbar {
    height: 100%;
    background-color: white;
    color: black;
}

#city_list_container {
    height: 100%;
    width: 100%;
}
